<configuration>
  <property>
    <name>dfs.replication</name>
    <value>2</value>
  </property>
  <property>
    <name>dfs.namenode.http-address</name>
    <value>{{ namenode_hostname }}:9870</value>
  </property>
</configuration>
